
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-8 order-md-1 order-last">
            <h5 class="mb-0"><%= __('pages.fas_supplier') %></h5>
            <p class="text-subtitle text-muted"><%= __('pagesSubtitle.fas_supplier') %></p>
        </div>
        <div class="col-12 col-md-4 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li><button class="btn btn-sm btn-primary ms-1" data-bs-toggle="modal" data-bs-target="#popup-form-create"><%= __('button.btnAdd') %></button></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table" id="dt-1">

            <thead>
                <tr>
                    <th class="py-1 bg-primary text-white col-2 text-center">Short Name</th>
                    <th class="py-1 bg-primary text-white col-9">Full Name</th>
                    <th class="py-1 bg-primary text-white col-1 text-center">Action</th>
                </tr>
            </thead>

            <tbody>

                <% Array(23).fill().map((_, row) => { %>
                    <tr>
                        <td class="py-1 text-center">Short Name <%= row + 1 %></td>
                        <td class="py-1">Full Name <%= row + 1 %></td>
                        <td class="py-1 text-center">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary pt-1 pb-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="icon dripicons dripicons-dots-3"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-sm" onclick="loadView()"> <%= __('button.btnView') %></a></li>
                                    <li><hr class="my-1" /></li>
                                    <li><a class="dropdown-item text-sm" onclick="loadEdit()"> <%= __('button.btnEdit') %></a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <% }) %>

            </tbody>

        </table>
    </div>
</div>

<div class="modal fade" id="popup-form-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header pb-2 pt-3">
                <h5 class="modal-title">View Details</h5>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="mb-0">Short Name</label>
                            <input type="text" class="form-control form-control-sm" disabled id="FormView-ShortName" /> 
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="mb-0">Full Name</label>
                            <input type="text" class="form-control form-control-sm" disabled id="FormView-FullName" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Contact Person</label>
                            <input type="text" class="form-control form-control-sm" disabled id="FormView-ContactPerson" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Contact Number</label>
                            <input type="text" class="form-control form-control-sm" disabled id="FormView-ContactNumber" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Address</label>
                            <input type="text" class="form-control form-control-sm" disabled id="FormView-Address" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-light-secondary" data-bs-dismiss="modal">
                    <span class="d-none d-sm-block"><%= __('button.btnClose') %></span>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="popup-form-create" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header pb-2 pt-3">
                <h5 class="modal-title">Create Details</h5>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="mb-0">Short Name</label>
                            <input type="text" class="form-control form-control-sm" id="FormCreate-ShortName" />
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="mb-0">Full Name</label>
                            <input type="text" class="form-control form-control-sm" id="FormCreate-FullName" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Contact Person</label>
                            <input type="text" class="form-control form-control-sm" id="FormCreate-ContactPerson" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Contact Number</label>
                            <input type="text" class="form-control form-control-sm" id="FormCreate-ContactNumber" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Address</label>
                            <input type="text" class="form-control form-control-sm" id="FormCreate-Address" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-primary ms-1" onclick="submitCreate()">
                    <span class="d-none d-sm-block"><%= __('button.btnSubmit') %></span>
                </button>
                <button type="button" class="btn btn-sm btn-light-secondary" data-bs-dismiss="modal">
                    <span class="d-none d-sm-block"><%= __('button.btnClose') %></span>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="popup-form-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header pb-2 pt-3">
                <h5 class="modal-title">Edit Details</h5>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="mb-0">Short Name</label>
                            <input type="text" class="form-control form-control-sm" id="FormEdit-ShortName" />
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="mb-0">Full Name</label>
                            <input type="text" class="form-control form-control-sm" id="FormEdit-FullName" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Contact Person</label>
                            <input type="text" class="form-control form-control-sm" id="FormEdit-ContactPerson" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Contact Number</label>
                            <input type="text" class="form-control form-control-sm" id="FormEdit-ContactNumber" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Address</label>
                            <input type="text" class="form-control form-control-sm" id="FormEdit-Address" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-primary ms-1" onclick="submitEdit()">
                    <span class="d-none d-sm-block"><%= __('button.btnSubmit') %></span>
                </button>
                <button type="button" class="btn btn-sm btn-light-secondary" data-bs-dismiss="modal">
                    <span class="d-none d-sm-block"><%= __('button.btnClose') %></span>
                </button>
            </div>

        </div>
    </div>
</div>

<script>

    function loadView() {
        loadingShow();
        setTimeout(() => {
            loadingHide();

            formDataSet(
                'FormView',
                {
                    shortName     : 'Staff User',
                    fullName      : 'Staff User',
                    contactPerson : 'John Doe',
                    contactNumber : '0123456789',
                    address       : 'Street 123, City, Country'
                }
            );

            $('#popup-form-view').modal('show');
        }, 1000);
    }

    function loadEdit() {
        loadingShow();
        setTimeout(() => {
            loadingHide();

            formDataSet(
                'FormEdit',
                {
                    shortName     : 'Staff User',
                    fullName      : 'Staff User',
                    contactPerson : 'John Doe',
                    contactNumber : '0123456789',
                    address       : 'Street 123, City, Country'
                }
            );

            $('#popup-form-edit').modal('show');
        }, 1000);
    }

    function submitCreate() {
        loadingShow();
        setTimeout(() => {
            loadingHide();
            
            const formData = {
                shortName     : $('#FormCreate-ShortName').val(),
                fullName      : $('#FormCreate-FullName').val(),
                contactPerson : $('#FormCreate-ContactPerson').val(),
                contactNumber : $('#FormCreate-ContactNumber').val(),
                address       : $('#FormCreate-Address').val(),
            };

            formDataClean('FormCreate');

            $('#popup-form-create').modal('hide');
        }, 1000);
    }

    function submitEdit() {
        loadingShow();
        setTimeout(() => {
            loadingHide();

            const formData = {
                shortName     : $('#FormEdit-ShortName').val(),
                fullName      : $('#FormEdit-FullName').val(),
                contactPerson : $('#FormEdit-ContactPerson').val(),
                contactNumber : $('#FormEdit-ContactNumber').val(),
                address       : $('#FormEdit-Address').val(),
            };

            formDataClean('FormEdit');

            $('#popup-form-edit').modal('hide');
        }, 1000);
    }

    function formDataClean(formId) {
        $('#'+ formId +'-ShortName').val("");
        $('#'+ formId +'-FullName').val("");
        $('#'+ formId +'-ContactPerson').val("");
        $('#'+ formId +'-ContactNumber').val("");
        $('#'+ formId +'-Address').val("");
    }

    function formDataSet(formId, data) {
        $('#'+ formId +'-ShortName').val(data.shortName);
        $('#'+ formId +'-FullName').val(data.fullName);
        $('#'+ formId +'-ContactPerson').val(data.contactPerson);
        $('#'+ formId +'-ContactNumber').val(data.contactNumber);
        $('#'+ formId +'-Address').val(data.address);
    }

</script>
