
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-8 order-md-1 order-last">
            <h5 class="mb-0"><%= __('pages.fas_lifetime') %></h5>
            <p class="text-subtitle text-muted"><%= __('pagesSubtitle.fas_lifetime') %></p>
        </div>
        <div class="col-12 col-md-4 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li><button class="btn btn-sm btn-primary ms-1" data-bs-toggle="modal" data-bs-target="#popup-form-create"><%= __('button.btnAdd') %></button></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table" id="dt-1">

            <thead>
                <tr>
                    <th class="py-1 bg-primary text-white col-2 text-center">Lifetime</th>
                    <th class="py-1 bg-primary text-white col-9">Narrative</th>
                    <th class="py-1 bg-primary text-white col-1 text-center">Action</th>
                </tr>
            </thead>

            <tbody>

                <% Array(23).fill().map((_, row) => { %>
                    <tr>
                        <td class="py-1 text-center">Lifetime <%= row + 1 %></td>
                        <td class="py-1">Narrative <%= row + 1 %></td>
                        <td class="py-1 text-center">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary pt-1 pb-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="icon dripicons dripicons-dots-3"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-sm" onclick="loadView()"> <%= __('button.btnView') %></a></li>
                                    <li><hr class="my-1" /></li>
                                    <li><a class="dropdown-item text-sm" onclick="loadEdit()"> <%= __('button.btnEdit') %></a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <% }) %>

            </tbody>

        </table>
    </div>
</div>

<div class="modal fade" id="popup-form-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header pb-2 pt-3">
                <h5 class="modal-title">View Details</h5>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Life Time</label>
                            <input type="text" class="form-control form-control-sm" disabled id="FormView-LifeTime" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Narrative</label>
                            <input type="text" class="form-control form-control-sm" disabled id="FormView-Narrative" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-light-secondary" data-bs-dismiss="modal">
                    <span class="d-none d-sm-block"><%= __('button.btnClose') %></span>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="popup-form-create" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header pb-2 pt-3">
                <h5 class="modal-title">Create Details</h5>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Life Time</label>
                            <input type="text" class="form-control form-control-sm" id="FormCreate-LifeTime" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Narrative</label>
                            <input type="text" class="form-control form-control-sm" id="FormCreate-Narrative" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-primary ms-1" onclick="submitCreate()">
                    <span class="d-none d-sm-block"><%= __('button.btnSubmit') %></span>
                </button>
                <button type="button" class="btn btn-sm btn-light-secondary" data-bs-dismiss="modal">
                    <span class="d-none d-sm-block"><%= __('button.btnClose') %></span>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="popup-form-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header pb-2 pt-3">
                <h5 class="modal-title">Edit Details</h5>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Life Time</label>
                            <input type="text" class="form-control form-control-sm" id="FormEdit-LifeTime" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Narrative</label>
                            <input type="text" class="form-control form-control-sm" id="FormEdit-Narrative" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-primary ms-1" onclick="submitEdit()">
                    <span class="d-none d-sm-block"><%= __('button.btnSubmit') %></span>
                </button>
                <button type="button" class="btn btn-sm btn-light-secondary" data-bs-dismiss="modal">
                    <span class="d-none d-sm-block"><%= __('button.btnClose') %></span>
                </button>
            </div>

        </div>
    </div>
</div>

<script>

    function loadView() {
        loadingShow();
        setTimeout(() => {
            loadingHide();

            formDataSet(
                'FormView',
                {
                    lifeTime: 'Life Time 1',
                    narrative: 'Narrative 1',
                }
            );

            $('#popup-form-view').modal('show');
        }, 1000);
    }

    function loadEdit() {
        loadingShow();
        setTimeout(() => {
            loadingHide();

            formDataSet(
                'FormEdit',
                {
                    lifeTime: 'Life Time 1',
                    narrative: 'Narrative 1'
                }
            );

            $('#popup-form-edit').modal('show');
        }, 1000);
    }

    function submitCreate() {
        loadingShow();
        setTimeout(() => {
            loadingHide();
            
            const formData = {
                lifeTime : $('#FormCreate-LifeTime').val(),
                narrative  : $('#FormCreate-Narrative').val(),
            };

            formDataClean('FormCreate');

            $('#popup-form-create').modal('hide');
        }, 1000);
    }

    function submitEdit() {
        loadingShow();
        setTimeout(() => {
            loadingHide();

            const formData = {
                lifeTime : $('#FormEdit-LifeTime').val(),
                narrative  : $('#FormEdit-Narrative').val(),
            };

            formDataClean('FormEdit');

            $('#popup-form-edit').modal('hide');
        }, 1000);
    }

    function formDataClean(formId) {

        $('#'+ formId +'-LifeTime').val('');
        $('#'+ formId +'-Narrative').val('');

        const userPrivileges = window.choicesInstances?.[formId +'-UserPrivileges'];
        if (userPrivileges) {
            userPrivileges.setChoiceByValue([]);
        } else {
            $('#'+ formId +'-UserPrivileges').val([]);
        }

    }

    function formDataSet(formId, data) {
        $('#'+ formId +'-LifeTime').val(data.lifeTime);
        $('#'+ formId +'-Narrative').val(data.narrative);
    }

</script>
