
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-8 order-md-1 order-last">
            <h5 class="mb-0"><%= __('pages.fas_request') %></h5>
            <p class="text-subtitle text-muted"><%= __('pagesSubtitle.fas_request') %></p>
        </div>
        <div class="col-12 col-md-4 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li><button class="btn btn-sm btn-primary ms-1" data-bs-toggle="modal" data-bs-target="#popup-form-create"><%= __('button.btnAdd') %></button></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table" id="dt-1">

            <thead>
                <tr>
                    <th class="py-1 bg-primary text-white col-2 text-center">Request Date</th>
                    <th class="py-1 bg-primary text-white col-2 text-end">Request Cost</th>
                    <th class="py-1 bg-primary text-white col-7">Narrative</th>
                    <th class="py-1 bg-primary text-white col-1 text-center">Action</th>
                </tr>
            </thead>

            <tbody>

                <% Array(23).fill().map((_, row) => { %>
                    <tr>
                        <td class="py-1 text-center">2026-05-<%= (row + 1).toString().padStart(2, '0') %></td>
                        <td class="py-1 text-end">$<%= (Math.random() * 1000).toFixed(2) %></td>
                        <td class="py-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                        <td class="py-1 text-center">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary pt-1 pb-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="icon dripicons dripicons-dots-3"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-sm" onclick="loadView()"> <%= __('button.btnView') %></a></li>
                                    <li><hr class="my-1" /></li>
                                    <li><a class="dropdown-item text-sm" onclick="loadEdit()"> <%= __('button.btnEdit') %></a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                <% }) %>

            </tbody>

        </table>
    </div>
</div>

<div class="modal fade" id="popup-form-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header pb-2 pt-3">
                <h5 class="modal-title">View Details</h5>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Request Date</label>
                            <input type="text" class="form-control form-control-sm" id="FormView-RequestDate" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Branch</label>
                            <select class="choices form-select form-select-sm" id="FormView-Branch">
                                <option value="ALL">All Privileges</option>
                                <option value="PRIVILEGE-1">Privilege 1</option>
                                <option value="PRIVILEGE-2">Privilege 2</option>
                                <option value="PRIVILEGE-3">Privilege 3</option>
                                <option value="PRIVILEGE-4">Privilege 4</option>
                                <option value="PRIVILEGE-5">Privilege 5</option>
                                <option value="PRIVILEGE-6">Privilege 6</option>
                                <option value="PRIVILEGE-7">Privilege 7</option>
                                <option value="PRIVILEGE-8">Privilege 8</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Requester</label>
                            <select class="choices form-select form-select-sm" id="FormView-Requester">
                                <option value="ALL">All Privileges</option>
                                <option value="PRIVILEGE-1">Privilege 1</option>
                                <option value="PRIVILEGE-2">Privilege 2</option>
                                <option value="PRIVILEGE-3">Privilege 3</option>
                                <option value="PRIVILEGE-4">Privilege 4</option>
                                <option value="PRIVILEGE-5">Privilege 5</option>
                                <option value="PRIVILEGE-6">Privilege 6</option>
                                <option value="PRIVILEGE-7">Privilege 7</option>
                                <option value="PRIVILEGE-8">Privilege 8</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Narrative</label>
                            <input type="text" class="form-control form-control-sm" id="FormView-Narrative" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Request Cost</label>
                            <input type="text" class="form-control form-control-sm" id="FormView-RequestCost" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-light-secondary" data-bs-dismiss="modal">
                    <span class="d-none d-sm-block"><%= __('button.btnClose') %></span>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="popup-form-create" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header pb-2 pt-3">
                <h5 class="modal-title">Create Details</h5>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Request Date</label>
                            <input type="text" class="form-control form-control-sm" id="FormCreate-RequestDate" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Branch</label>
                            <select class="choices form-select form-select-sm" id="FormEdit-Branch">
                                <option value="ALL">All Privileges</option>
                                <option value="PRIVILEGE-1">Privilege 1</option>
                                <option value="PRIVILEGE-2">Privilege 2</option>
                                <option value="PRIVILEGE-3">Privilege 3</option>
                                <option value="PRIVILEGE-4">Privilege 4</option>
                                <option value="PRIVILEGE-5">Privilege 5</option>
                                <option value="PRIVILEGE-6">Privilege 6</option>
                                <option value="PRIVILEGE-7">Privilege 7</option>
                                <option value="PRIVILEGE-8">Privilege 8</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Requester</label>
                            <select class="choices form-select form-select-sm" id="FormEdit-Requester">
                                <option value="ALL">All Privileges</option>
                                <option value="PRIVILEGE-1">Privilege 1</option>
                                <option value="PRIVILEGE-2">Privilege 2</option>
                                <option value="PRIVILEGE-3">Privilege 3</option>
                                <option value="PRIVILEGE-4">Privilege 4</option>
                                <option value="PRIVILEGE-5">Privilege 5</option>
                                <option value="PRIVILEGE-6">Privilege 6</option>
                                <option value="PRIVILEGE-7">Privilege 7</option>
                                <option value="PRIVILEGE-8">Privilege 8</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Narrative</label>
                            <input type="text" class="form-control form-control-sm" id="FormCreate-Narrative" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Request Cost</label>
                            <input type="text" class="form-control form-control-sm" id="FormCreate-RequestCost" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-primary ms-1" onclick="submitCreate()">
                    <span class="d-none d-sm-block"><%= __('button.btnSubmit') %></span>
                </button>
                <button type="button" class="btn btn-sm btn-light-secondary" data-bs-dismiss="modal">
                    <span class="d-none d-sm-block"><%= __('button.btnClose') %></span>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="popup-form-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header pb-2 pt-3">
                <h5 class="modal-title">Edit Details</h5>
            </div>

            <div class="modal-body">

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Request Date</label>
                            <input type="text" class="form-control form-control-sm" id="FormEdit-RequestDate" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Branch</label>
                            <select class="choices form-select form-select-sm" id="FormEdit-Branch">
                                <option value="ALL">All Privileges</option>
                                <option value="PRIVILEGE-1">Privilege 1</option>
                                <option value="PRIVILEGE-2">Privilege 2</option>
                                <option value="PRIVILEGE-3">Privilege 3</option>
                                <option value="PRIVILEGE-4">Privilege 4</option>
                                <option value="PRIVILEGE-5">Privilege 5</option>
                                <option value="PRIVILEGE-6">Privilege 6</option>
                                <option value="PRIVILEGE-7">Privilege 7</option>
                                <option value="PRIVILEGE-8">Privilege 8</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Requester</label>
                            <select class="choices form-select form-select-sm" id="FormEdit-Requester">
                                <option value="ALL">All Privileges</option>
                                <option value="PRIVILEGE-1">Privilege 1</option>
                                <option value="PRIVILEGE-2">Privilege 2</option>
                                <option value="PRIVILEGE-3">Privilege 3</option>
                                <option value="PRIVILEGE-4">Privilege 4</option>
                                <option value="PRIVILEGE-5">Privilege 5</option>
                                <option value="PRIVILEGE-6">Privilege 6</option>
                                <option value="PRIVILEGE-7">Privilege 7</option>
                                <option value="PRIVILEGE-8">Privilege 8</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Narrative</label>
                            <input type="text" class="form-control form-control-sm" id="FormEdit-Narrative" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="mb-0">Request Cost</label>
                            <input type="text" class="form-control form-control-sm" id="FormEdit-RequestCost" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer py-2">
                <button type="button" class="btn btn-sm btn-primary ms-1" onclick="submitEdit()">
                    <span class="d-none d-sm-block"><%= __('button.btnSubmit') %></span>
                </button>
                <button type="button" class="btn btn-sm btn-light-secondary" data-bs-dismiss="modal">
                    <span class="d-none d-sm-block"><%= __('button.btnClose') %></span>
                </button>
            </div>

        </div>
    </div>
</div>

<script>

    function loadView() {
        loadingShow();
        setTimeout(() => {
            loadingHide();

            formDataSet(
                'FormView',
                {
                    RequestDate: '2026-05-01',
                    RequestCost: '$500.00',
                    Branch: 'PRIVILEGE-3',
                    Requester: 'PRIVILEGE-5',
                    Narrative: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                }
            );

            $('#popup-form-view').modal('show');
        }, 1000);
    }

    function loadEdit() {
        loadingShow();
        setTimeout(() => {
            loadingHide();

            formDataSet(
                'FormEdit',
                {
                    RequestDate: '2026-05-01',
                    RequestCost: '$500.00',
                    Branch: 'PRIVILEGE-3',
                    Requester: 'PRIVILEGE-5',
                    Narrative: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                }
            );

            $('#popup-form-edit').modal('show');
        }, 1000);
    }

    function submitCreate() {
        loadingShow();
        setTimeout(() => {
            loadingHide();
            
            const formData = {
                RequestDate: $('#FormCreate-RequestDate').val(),
                RequestCost: $('#FormCreate-RequestCost').val(),
                Branch: $('#FormCreate-Branch').val(),
                Requester: $('#FormCreate-Requester').val(),
                Narrative: $('#FormCreate-Narrative').val()
            };

            formDataClean('FormCreate');

            $('#popup-form-create').modal('hide');
        }, 1000);
    }

    function submitEdit() {
        loadingShow();
        setTimeout(() => {
            loadingHide();

            const formData = {
                RequestDate: $('#FormEdit-RequestDate').val(),
                RequestCost: $('#FormEdit-RequestCost').val(),
                Branch: $('#FormEdit-Branch').val(),
                Requester: $('#FormEdit-Requester').val(),
                Narrative: $('#FormEdit-Narrative').val()
            };

            formDataClean('FormEdit');

            $('#popup-form-edit').modal('hide');
        }, 1000);
    }

    function formDataClean(formId) {

        $('#'+ formId +'-RequestDate').val('');
        $('#'+ formId +'-Narrative').val('');
        $('#'+ formId +'-RequestCost').val('');

        const Branch = window.choicesInstances?.[formId +'-Branch'];
        const Requester = window.choicesInstances?.[formId +'-Requester'];

        if (Branch) {
            Branch.setChoiceByValue([]);
        } else {
            $('#'+ formId +'-accountType').val([]);
        }
        if (Requester) {
            Requester.setChoiceByValue([]);
        } else {
            $('#'+ formId +'-accountType').val([]);
        }

    }

    function formDataSet(formId, data) {
        $('#'+ formId +'-RequestDate').val(data.RequestDate);
        $('#'+ formId +'-Narrative').val(data.Narrative);
        $('#'+ formId +'-RequestCost').val(data.RequestCost);

        const Branch = window.choicesInstances?.[formId +'-Branch'];
        const Requester = window.choicesInstances?.[formId +'-Requester'];

        if (Branch) {
            Branch.setChoiceByValue(data.Branch);
        } else {
            $('#'+ formId +'-accountType').val(data.Branch);
        }
        if (Requester) {
            Requester.setChoiceByValue(data.Requester);
        } else {
            $('#'+ formId +'-accountType').val(data.Requester);
        }
    }

</script>
